*{
margin: 0;
padding: 0;
}
.panel{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(0deg,#ffff 50%,#ffffff 50%)
}
#casepaper{
    border: black;
    height: 60%;
    padding:30px;
	
}
#work-done{
    border: black;
    height: 40%;
    margin-top: 10px;
    padding:30px;
}
.col-xs-6 {
    padding-top: 20px;
  }
  
  #mynav a
  {
	  position:absolute;
	  left:-160px;
	  transition:0.3s;
	  padding:15px;
	  width:200px;
	  text-decoration:none;
	  font-size:20px;
	  color:white;
	  border-radius:0 5px 5px 0;
	  text-align:right;
  }
#mynav a:hover
{
	left:0;
}
#profile
{
	
	background-color:black;
}